<html>
    <body>
        <h1><%= title %></h1>
        <% for (message of messages){ %>
            <div class="message-container" style="margin: 3% 0;">
                <div>
                    <h3><%= message.user %>:</h3> <p style = "font-size: 1.2rem;"><%= message.text %> </p>
                </div>
                <small><%= message.added %></small>
                <br>
                <a href="/messages/<%= message.id%>">
                    <small>Open</small>
                </a>
            </div>
            <% } %>
            <a href="/new"><button type="button">Add New Message</button></a>
    </body>
</html>